{% extends 'base.html' %}
{% import "page.html" as pg %}

{% block title %}学生信息表{% endblock %}

{% block main %}

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
            <a id="add" href="/student/add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>

			<div style="float: left;" class="datagrid-btn-separator"></div>
        <span class="sr-only">(current)</span></li>

        <form action="" method="post" class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text"  name="search_id" class="form-control" placeholder="Search">
            </div>
                <button type="submit" class="btn btn-default">查找</button>
        </form>
        </ul>
     </div>

    <table class="table table-bordered">
    <tr>
        <th>学生ID</th>
        <th>学生姓名</th>
        <th>性别</th>
        <th>民族</th>
        <th>出生年份</th>
        <th>班级</th>
        <th>家庭住址</th>
        <th>城市/农村</th>
        <th>组织</th>
        <th>班级ID</th>
        <th>就读学期</th>
        <th>是否住宿</th>
        <th>是否离校</th>
        <th>寝室号</th>
        <th>操作</th>
    </tr>
        {% for i in page_data.items %}
            <tr>
                <form action="" method="POST">
                    <td>{{ i.bf_StudentID }}</td>
                    <td>{{ i.bf_Name }}</td>
                    <td>{{ i.bf_sex }}</td>
                    <td>{{ i.bf_nation }}</td>
                    <td>{{ i.bf_BornDate }}</td>
                    <td>{{ i.cla_Name }}</td>
                    <td>{{ i.bf_NativePlace}}</td>
                    <td>{{ i.bf_ResidenceType }}</td>
                    <td>{{ i.bf_policy }}</td>
                    <td>{{ i.cla_id }}</td>
                    <td>{{ i.cla_term }}</td>
                    <td>{{ i.bf_zhusu }}</td>
                    <td>{{ i.bf_leaveSchool }}</td>
                    <td>{{ i.bf_qinshihao }}</td>
                    <td>
                        <a href="/student/delete/?id={{i.bf_StudentID}}">删除</a>
                        <a href="/student/update/?id={{i.bf_StudentID}}">修改</a>
                    </td>
                 </form>
            </tr>
    {% endfor %}
    </table>
    <tfoot>
        <tr >
            <td colspan="6" style="width: 1519px">
                <div class="pagination-info pull-left" style="width:1519px;text-align: center;float: left">
                    共有{{ page_data.total }}条，每页显示：{{ page_data.per_page }}条
                </div>
                <div class="pull-right king-page-box" style="width:1519px;display:flex;align-items:center;justify-content:center;">
                    {{ pg.page(page_data, 'student') }}
                </div>
            </td>
        </tr>
    </tfoot>
{% endblock %}
